.product-card{
    width: 30%;
    /* background-color: red; */
    height: 50vh;
    /* background-color: blue; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin: 50px 0; */
} 
.thumbnail{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    /* justify-content: center; */
    /* background-color: rgb(235, 235, 235); */
    /* background-color: red;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn; */
    /* box-sizing: 10px 10px 10px solid black; */
    box-shadow: 1px 1px 5px  black;
    
}

.imgproduct{
    /* height: 25vh; */
    max-width: 200px;
    /* aspect-ratio: 3/2; */
    /* display: flex; */
    /* justify-content: center; */
/* align-items: center; */
    /* background-color: green; */
    /* background-color: red; */
}
.imgproduct:hover {
    transition: transform .2s;
    transform: scale(1.1);
}
.product-detail{
    margin-top: 10px;
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: space-around;
}

.product-detail .name{
    font-weight: 400;
}