.category-shop{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    /* background-color: red; */
}
.categories{
    width: 70%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* background-color: green; */
}
.imgcate{
    border: 1px solid black;
    width: 180px;
    height: 150px;
    /* background-color: yellow; */
}